.client-logo-slider {
  overflow: clip;
}

.client-logo-slider .content-wrapper{
    margin-bottom: 0px;
    padding: 0px;
}

.client-logo-slider .content-wrapper h3{
    margin-bottom: 0px;
}

@media screen and (max-width: 1400px){
    .client-logo-slider .content-wrapper{
        margin-bottom: 45px;
        padding: 0px 20px;
    }
}

.client-logo-slider.client-logo-slider--full {
  overflow: visible;
}

.client-logo-slider.client-logo-slider--full .logo-slider::before,
.client-logo-slider.client-logo-slider--full .logo-slider::after {
  content: none; 
  display: none;
}

.client-logo-slider.client-logo-slider--grey .logo-slider__logo img {
  filter: grayscale(1);
}

.client-logo-slider.client-logo-slider--no-max-height .logo-slider__logo img {
  max-height: none;
}

@media screen and (max-width: 768px){
  .client-logo-slider.client-logo-slider--no-max-height .logo-slider__logo img {
    max-height: none;
  }
}