img {
  max-width: 100%;
  height: auto;
}

a,
a.button {
  transition: all 0.3s;
}

a.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.position-fixed {
  position: fixed !important;
}

@media screen and (max-width: 767px) {
  .flex-phone {
    display: flex;
  }

  .flex-row-phone {
    flex-direction: row;
  }

  .flex-row-reverse-phone {
    flex-direction: row-reverse;
  }

  .flex-col-phone {
    flex-direction: column;
  }

  .flex-col-reverse-phone {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flex-row-tablet {
    flex-direction: row;
  }

  .flex-row-reverse-tablet {
    flex-direction: row-reverse;
  }

  .flex-col-tablet {
    flex-direction: column;
  }

  .flex-col-reverse-tablet {
    flex-direction: column-reverse;
  }
}

/* = box shadows -------------------- */
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* For content that needs to be visually hidden but stay visible for screenreaders */

/* stylelint-disable declaration-no-important */
.show-for-sr {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

@media (max-width: 767px) {
  .show-for-sr--mobile {
    position: absolute !important;
    overflow: hidden !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
  }
}

/* stylelint-enable declaration-no-important */

/* 
* Grids
*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-2 {
      grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-3 {
      grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-4 {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1080px) {
  
  .grid-3 {
      grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-4 {
      grid-template-columns: repeat(4, 1fr);
  }
}
