<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Expertunity - Blog listing
-->
{% set template_css = '../../css/templates/_blog-overview.css' %}

{% extends "./layouts/base.html" %}

{% block body %}
    {% dnd_area "body_dnd_area" label="Blog modules" %}
        {% dnd_section %}
            {% dnd_module path='../modules/blog/blog-listing.module', label="Blog listing" %}
            {% end_dnd_module %}
        {% end_dnd_section %}

      {% dnd_section %}
        {% dnd_module path='../modules/sections/section-registration-banner-global.module', label="Registration Banner Global" %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}

{% endblock body %}